<%- include('includes/head.ejs') %>

  <br/>
  <form action='/add-user' method="POST">
    <input type="text"  name="username">
    <button type="submit"> Add User </button>
  </form>

<%- include('includes/end.ejs') %>
